---
layout: default
---
{% assign posts_count = paginator.posts | size %}

<div class="home">
    <span style="font-size:30px;color:#8AAAEA;font-family:zapfino"><b><i>Listings...</i></b></span><br>

      <span style="font-size:15px;color:#8AAAEA;"><b><i>•• // • // ••• \\ • •• // • \\ • // \\ \\ \\ •• •• • // • // • \\ • // ʻ • ʻ •• •• ••• \\ • \\ • \\ • // ʻ // ʻʻ // • \\</i></b></span><hr/>

  {% if posts_count > 0 %}
    <div class="posts" style="margin-top:-2%">
      {% for post in paginator.posts %}
        <div class="post py3">
          <!-- <p class="post-meta">{{ post.date | date: site.date_format }}</p> -->
          <a href="{{ post.url | relative_url }}" class="post-link"><h3 class="h1 post-title" style="font-family:zapfino;font-size:29px">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              <i>{{ post.summary }}</i>
            {% else %}
              <i>{{ post.excerpt }}</i>
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
